.myapply_block h1 {
    display: flex;
    justify-content: center;
}

.jobseeker_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding: 20px 0;
}

.myapply_area {
    background: #f1f3f6;
    padding: 50px 20px;
    min-height: 885px;
}

.resumeinfo img {
    width: 160px;
    height: 210px;
    cursor: pointer;
}

.jobseeker_info p span {
    font-size: 20px;
    font-weight: bold;
}

.jobseeker_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.btnfinal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnfinal button {
    background: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.btnfinal button:hover {
    background-color: crimson;
}
